{% extends "./base.html" %}
{% load static %}

{% block head %}
<title>アドバイザーを探す</title>
{% endblock %}

{% block content %}
  <div class="columns is-multiline is-mobile">
    <div class="box has-text-centered" style="width:100%; margin-top:20px;">
      <p class="subtitle">「マッチングする」を押すと、あなたの骨格タイプやパーソナルカラーをもとに最適なアドバイザーを探すことができます。</p>
      <a href="{% url 'match' %}" class="button is-success">マッチングする</a>
    </div> 
    {% for i in advisers %}
      <a href="{% url 'profile' i.user.id %}">
        <div class="column">
          <div class="box">
            <p class="title is-5">{{i.user.username}}<p>
            {% if i.profile_pic%}
              <img class="image is-128x128" src="{{ i.profile_pic.url}}">
            {% else %}
              <img class="image is-128x128" src="images/no-user-image-icon-27.jpg">
            {% endif %}
            <p>実績：{{i.count }}件</p>
            {% if i.score %}
              <p>評価：{{i.score|floatformat}}</p>
            {% else %}
              <p>評価：なし</p>
            {% endif %}
            {% if i.user.height %}
              <p>身長：{{i.user.height}}</p>
            {% else %}
              <p>身長：登録なし</p>
            {% endif %}
            <p>性別：{{i.user.gender }}</p>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}