{% extends './base.html' %}

{% load static %}

{% block head %}
<script src="https://kit.fontawesome.com/3ffc2e44a3.js" crossorigin="anonymous"></script>
<title>プロフィール情報</title>
{% endblock %}
{% block content %}

<article class="media">
  <div class="media-left">
    <figure class="image is-128x128">
      {% if adviser.profile_pic %}
        <img class="is-rounded" src="{{ adviser.profile_pic.url }}">
      {% else %}
        <img class="is-rounded" src="{% static 'images/no-user-image-icon-27.jpg' %}">
      {% endif %}
    </figure>
  </div>

  <div class="media-content">
    <div class="content">
      <h1 style="font-weight: bold;" class="title is-2 is-size-5-mobile">{{ user.username }}</h1>

      <div class="media-right">
        {% if request.user == adviser.user %}
          {% if not adviser.user.height or not adviser.profile or not adviser.profile_pic or not adviser.user.bone_type or not adviser.user.color_type %}
            {% if request.user.gender == '女性' %}
              <div class="icon-text">
                <span class="icon has-text-danger">
                  <i class="fa-solid fa-triangle-exclamation"></i>
                </span>
                <span>プロフィール情報で記入されていない欄があります</span>
              </div>
            {% else %}
              {% if not adviser.user.height or not adviser.profile or not adviser.profile_pic or not adviser.user.bone_type%}
                <div class="icon-text">
                  <span class="icon has-text-danger">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                  </span>
                  <span>プロフィール情報で記入されていない欄があります</span>
                </div>
              {% endif %}
            {% endif %}
          {% endif %}
          {% if adviser.is_active %}
            <div class="icon-text">
              <span class="icon has-text-success">
                <i class="fas fa-check-square"></i>
              </span>
              <span>依頼を受け付けています</span>
            </div>
          {% else %}
            <div class="icon-text">
              <span class="icon has-text-success">
                <i class="fa-solid fa-lock"></i>
              </span>
              <span>依頼募集を停止中です</span>
            </div>
          {% endif %}
          <a class = "button is-success" href="{% url 'profile_edit' %}">プロフィールを編集する</a>
        {% elif adviser.is_active and not connected %}
          <form action="{% url 'profile' user.id %}" method="post">
            {% csrf_token %}
            <a href= "{% url 'new_conversation' user.username %}"class="button is-success">アドバイスを依頼する</a>
          </form>
        {% elif adviser.is_active and connected %}
          <a class = "button is-success" href="{% url 'inbox' %}">メッセージを送る</a>
        {% endif %}

      </div>
      性別：{{user.gender}}
      {% if adviser.user.height %}
        身長：{{adviser.user.height}}
      {% endif %}
    </div>


    <nav class="level is-mobile">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">実績</p>
          <p class="title">{{ adviser.count}}件</p>
        </div>
      </div>
      {% if adviser.score %}
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">評価</p>
            <p class="title">{{ adviser.score|floatformat }} / 5</p>
          </div>
        </div>
      {% endif %}
    </nav>
  </div>
</article>

<div class="box" style="margin-top:20px;">
  <div class="content">
    {% if adviser.profile %}
      <h4>プロフィール：</h4>
      <p>{{adviser.profile}}</p>
    {% endif %}
    {% if adviser.user.bone_type %}
      <h4>骨格タイプ：</h4>
      <p>{{adviser.user.bone_type }}</p>
    {% endif %}
    {% if adviser.user.color_type %}
      <h4>パーソナルカラー：</h4>
      <p>{{adviser.user.color_type }}</p>
    {% endif %}

    {% if adviser.instagram != None %}
      <h4>インスタ：</h4>
      <a href="{{adviser.instagram}}">{{adviser.instagram}}</a>
    {% endif %}
    
    {% if adviser.wear != None %}
      <h4>WEAR:</h4>
      <a href="{{adviser.wear}}">{{adviser.wear}}</a>
    {% endif %}

    {% if adviser.tiktok != None%}
      <h4>Tiktok:</h4>
      <a href="{{adviser.tiktok}}">{{adviser.tiktok}}</a>
    {% endif %}

    {% if adviser.twitter != None%}
      <h4>ツイッター:</h4>
      <a href="{{adviser.ツイッター}}">{{adviser.ツイッター}}</a>
    {% endif %}

    {% if adviser.facebook != None%}
      <h4>Facebook:</h4>
      <a href="{{adviser.facebook}}">{{adviser.facebook}}</a>
    {% endif %}

    {% if adviser.hp != None%}
        <h4>ホームページ・ブログ:</h4>
        <a href="{{adviser.hp}}">{{adviser.hp}}</a>
    {% endif %}
  </div>
</div>

{% endblock %}